/*=================
  custom style
===================*/
div#cse-search-container {
    position: absolute;
    display: none
}

div#cse-search-container > div#cse-search-form {
    width: 180px;
}

div#cse-search-container > div#cse-search-form > img.cse-loading {
    width: 32px;
    height: 32px;
}

div#cse_result {
    position: absolute;
    width: 400px;
    z-index: 2000;
    border: 1px solid gray;
    display: none;
}

div#cse_result > div {
    float: right;
    color: gray;
}

div#cse_result > div > a{
     cursor:pointer;
 }

div#cse_result > div > a img{
    width: 22px;
    height: 22px;
}

div.gs-title {
    padding-bottom: 7px;
}

.gsc-completion-container {
    color: #333;
}

@Media (max-width: 480px) {
    .gsc-cursor-page {
        font-size: 20px;
        padding-right: 10px;
    }
}

@Media (max-width: 320px) {
    .gsc-cursor-page {
        font-size: 20px;
        padding-right: 5px;
    }
}

/*=================
  google gcs style
===================*/
.gsc-control-cse {
    font-family: Georgia, serif;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

input.gsc-input {
    border-color: #A25B08;
}

input.gsc-search-button {
    border-color: #461200;
    background-color: #461200;
}

.gsc-tabHeader.gsc-tabhInactive {
    border-color: #A25B08;
    background-color: #A25B08;
}

.gsc-tabHeader.gsc-tabhActive {
    border-color: #461200;
    background-color: #461200;
}

.gsc-tabsArea {
    border-color: #461200;
}

.gsc-webResult.gsc-result {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

.gsc-webResult.gsc-result:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b {
    color: #3333ff;
}

.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b {
    color: #3333ff;
}

.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b {
    color: #3333ff;
}

.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b {
    color: #3333ff;
}

.gsc-cursor-page {
    color: #3333ff;
}

a.gsc-trailing-more-results:link {
    color: #3333ff;
}

.gs-webResult.gs-result .gs-snippet {
    color: #333333;
}

.gs-webResult.gs-result .gs-visibleUrl {
    color: #A25B08;
}

.gs-webResult.gs-result .gs-visibleUrl-short {
    color: #A25B08;
}

.gs-webResult.gs-result .gs-visibleUrl-short {
    display: none;
}

.gs-webResult.gs-result .gs-visibleUrl-long {
    display: block;
}

.gsc-cursor-box {
    border-color: #FFFFFF;
}

.gsc-results .gsc-cursor-page {
    border-color: #A25B08;
    background-color: #FFFFFF;
}

.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
    border-color: #461200;
    background-color: #461200;
}

.gs-promotion.gs-result {
    border-color: #FEFEDC;
    background-color: #FFFFCC;
}

.gs-promotion.gs-result a.gs-title:link {
    color: #33cc00;
}

.gs-promotion.gs-result a.gs-title:visited {
    color: #33cc00;
}

.gs-promotion.gs-result a.gs-title:hover {
    color: #33cc00;
}

.gs-promotion.gs-result a.gs-title:active {
    color: #33ff33;
}

.gs-promotion.gs-result .gs-snippet {
    color: #333333;
}

.gs-promotion.gs-result .gs-visibleUrl,
.gs-promotion.gs-result .gs-visibleUrl-short {
    color: #A25B08;
}